.contact {
  background-image: url("/assets/images/Background_Contacts.png");
  background-size: cover;
  background-position: center;
  padding: 8rem 0 12.5rem 0;

  & .contact-title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 3rem;
    text-align: center;

    & .subtitle {
      color: var(--color-purple);
    }
  }

  & .contact-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    & .contact-link {
      width: 25rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-decoration: none;
      color: var(--gray-200);
      background-color: var(--gray-400);
      border-radius: 0.5rem;
      padding: 1.25rem;
      border: 2px solid var(--gray-400);

      & .icon {
        display: inline-block;
        width: 1.75rem;
        height: 1.75rem;
        background-color: currentColor;
        -webkit-mask: no-repeat center;
        mask: no-repeat center;
        -webkit-mask-size: cover;
        mask-size: cover;
      }

      & .icon-github {
        -webkit-mask-image: url("/assets/icons/GitHubLogo.svg");
        mask-image: url("/assets/icons/GitHubLogo.svg");
      }

      & .icon-linkedin {
        -webkit-mask-image: url("/assets/icons/LinkedinLogo.svg");
        mask-image: url("/assets/icons/LinkedinLogo.svg");
      }

      & .icon-instagram {
        -webkit-mask-image: url("/assets/icons/InstagramLogo.svg");
        mask-image: url("/assets/icons/InstagramLogo.svg");
      }

      & .icon-email {
        -webkit-mask-image: url("/assets/icons/EmailLogo.svg");
        mask-image: url("/assets/icons/EmailLogo.svg");
      }

      & div {
        display: flex;
        align-items: center;
        gap: 0.75rem;
      }
    }
    & .contact-link:hover {
      border: 2px solid var(--color-blue);

      & .icon {
        background-color: var(--color-blue);
      }
    }
  }
}
